.home-intro-section {
  background-image: url("../../../../../assets/images/home-intro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
.search-form {
  display: grid;
  grid-template-columns: 1fr 100px;
  background: white;
  border-radius: 40px;
  overflow: hidden;
  height: 45px;
  padding-left: 20px;
}
.search-input {
  border: 0;
  &:focus {
    outline: 0;
  }
}
.search-btn {
  border-radius: 40px;
  border: 0;
  color: white;
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
}
